---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
const { title, header } = Astro.props;
---

<DefaultLayout title={title}>
  <div class="pr-10 md:pl-10">
    <h1 class="pb-4 pt-15">{header}</h1>
    <slot />
  </div>
</DefaultLayout>
